<div>
    <h2 id="page-heading">
        <span jhiTranslate="comparendosApp.grua.home.title">Gruas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-grua" [routerLink]="['/grua/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="comparendosApp.grua.home.createLabel">
            Create a new Grua
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="gruas?.length === 0">
        <span jhiTranslate="comparendosApp.grua.home.notFound">No gruas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gruas && gruas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="codigo"><span jhiTranslate="comparendosApp.grua.codigo">Codigo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vehiculoId"><span jhiTranslate="comparendosApp.grua.vehiculo">Vehiculo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let grua of gruas ;trackBy: trackId">
                    <td>{{ grua.codigo }}</td>
                    <td>
                        <div *ngIf="grua.vehiculoId">
                            <a [routerLink]="['/vehiculo', grua.vehiculoId , 'view']" >{{ grua.vehiculoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/grua', grua.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/grua', grua.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(grua)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="gruas && gruas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
